## Include
include README.md COPYING COPYING.lesser NOTICE requirements.txt
recursive-include compiler *.py *.tl *.tsv *.txt
recursive-include gramscript mime.types schema.sql

## Exclude
prune gramscript/errors/exceptions
prune gramscript/raw/functions
prune gramscript/raw/types
prune gramscript/raw/base
exclude gramscript/raw/all.py